<!-- 4 up -->
<section class="p-8 bg-grey-lightest aos-init aos-animate" data-aos="fade-up">
        <h2 class="leading-tight text-center text-black lg:py-8">
          <small class="block uppercase tracking-wide text-grey-dark text-sm leading-loose">{{.heading}}</small>
          {{.description}}
        </h2>
        <div class="container mx-auto">
          <div class="sm:flex sm:flex-wrap">
			
			{{ range .blurbs }}
            <article class="my-8 text-center sm:w-1/2 sm:px-4 lg:w-1/4">
                <img src="{{ .image }}">
              <p class="mt-4">
					{{ .text }}
              </p>
            </article>
			{{ end }}
          </div>
        </div>
      </section>