
<!-- blcokquote -->
<section class="aos-init aos-animate" data-aos="fade-up">
        <div class="container mx-auto">
          <article class="bg-grey-lightest p-16 mb-10">
            <blockquote class="leading-normal mt-4">
              <article class="text-2xl font-medium">
                "{{ .quote }}"
              </article>
              <footer class="mt-2 text-base font-medium text-grey-dark">
                — {{ .author }}
              </footer>
            </blockquote>
          </article>
        </div>
 </section>