<!-- Blog -->
<!-- <div class="bg-off-white pv4">
	<div class="ph3 mw7 center">
		<h2 class="f2 b lh-title mb3">Latest stories</h1>

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			{{ range first 4 (where .Data.Pages "Type" "post") }}
				<div class="ph1-ns w-50-ns flex">
					{{ .Render "li" }}
				</div>
			{{ end }}
		</div>

		<div class="tc">
			<a href="/post" class="btn raise">Read more</a>
		</div>

	</div>
</div> -->

<div class="container mx-auto px-2">
		<div class="flex flex-wrap bg-grey-lighter">
				{{ range first 4 (where .Data.Pages "Type" "post") }}
				<div class="w-1/2 p-2">
				  <div class="text-grey-darker text-center bg-grey-light p-2">
						{{ .Render "li" }}
				  </div>
				</div>
				{{ end }}
			  </div>
			  
</div>
