<!-- Contact form-->
<div class="flex flex-wrap">
  <h4 class="">Drop us a line below</h4>

  <form action="">
    <div class="flex">
          <!-- Name -->
      <div class="mr-2">
        <fieldset>
          <input type="text" id="name" placeholder="Name" class="w-full">
          <label for="name">Name</label>
        </fieldset>
      </div>
          <!-- Email -->
      <div class="mb-2">
        <fieldset>
          <input type="email" id="email" placeholder="Email" class="w-full">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

        <!-- Message -->
    <fieldset>
      <textarea name="name" placeholder="Your message" rows="8" cols="80" id="message" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
        <!-- Button -->
    <div class="tc">
      <button type="submit" class="w-full bg-blue hover:bg-blue-dark text-white font-bold py-3 px-4">Submit</button>
    </div>
  </form>
</div>
