

<footer class="bg-black p-8 text-grey text-xs md:flex md:flex-wrap">
		<div class="container mx-auto max-w-lg md:flex md:flex-wrap lg:max-w-xl">
		  <section class="mt-4 md:w-1/4 md:mt-8">
			<p>
			  &copy; Copyright
			</p>
			<p class="mt-4 ">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}

					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}

					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}

					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}

			</p>
		  </section>
		  <section class="my-8 md:w-1/4">
			<h2 class="uppercase tracking-wide text-grey text-sm font-normal">Company</h2>
			<ul class="list-reset text-sm">
			  <li class="my-2"><a class="text-white no-underline" href="#">About</a></li>
			  <li class="my-2"><a class="text-white no-underline" href="#">Blog</a></li>
			  <li class="my-2"><a class="text-white no-underline" href="#">Careers</a></li>
			  <li class="my-2"><a class="text-white no-underline" href="#">Press</a></li>
			</ul>
		  </section>
		  <section class="my-8 md:w-1/4">
			<h2 class="uppercase tracking-wide text-grey text-sm font-normal">Product</h2>
			<ul class="list-reset text-sm">
			  <li class="my-2"><a class="text-white no-underline" href="#">Features</a></li>
			  <li class="my-2"><a class="text-white no-underline" href="#">Tour</a></li>
			  <li class="my-2"><a class="text-white no-underline" href="#">Pricing</a></li>
			  <li class="my-2"><a class="text-white no-underline" href="#">Screencasts</a></li>
			</ul>
		  </section>
		  <section class="my-8 md:w-1/4">
			<h2 class="uppercase tracking-wide text-grey text-sm font-normal">Legal</h2>
			<ul class="list-reset text-sm">
			  <li class="my-2"><a class="text-white no-underline" href="#">Terms</a></li>
			  <li class="my-2"><a class="text-white no-underline" href="#">Legal information</a></li>
			  <li class="my-2"><a class="text-white no-underline" href="#">Privacy</a></li>
			  <li class="my-2"><a class="text-white no-underline" href="#">Support</a></li>
			</ul>
		  </section>

		  <div class="w-full">
				<div class="">{{ partial "newsletter-form" . }}</div>
			</div>

		</div>
	  </footer>


{{ partial "svg" . }}

    <!-- Plugin JavaScript -->
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
	<script src="https://unpkg.com/aos@2.3.3/dist/aos.js"></script>
	<script>AOS.init();</script>
	
<script src="/app.js"></script>

</body>

</html>
