
<footer class="container-narrow mx-auto text-xs">

		<div class="flex items-center justify-between flex-wrap pl-6 mt-10 mb-5">
				<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
					<div class="text-white">
						© Copyright 7-Eleven, Australia 2019 .
					</div>
				</div>
				<div class="flex items-center flex-no-shrink text-white mr-6">
						<div class=""> <a class="text-white px-1" href="/">Home</a> | <a class="text-white px-1" href="/flavours">Flavours</a> | <a class="text-white px-1" href="/promo">Promo</a> | <a class="text-white px-1" href="/news">News</a> | <a class="text-white px-1" href="/contactus">Contact Us</a> | <a class="text-white px-1" href="/privacy-policy">Privacy Policy</a> | <a class="text-white px-1" href="http://www.7eleven.com.au/">7-Eleven.com.au</a> </div>
				</div>
			</div>


</footer>




<!-- Plugin JavaScript -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
<script src="http://idangero.us/swiper/dist/js/swiper.min.js"></script>

<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script> 
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=slurpeeaustralia"></script> 
	
<script src="/app.js"></script>

</body>

</html>
