<head>

	<title>Welcome to Slurpee</title>
	<link rel="stylesheet" href="http://idangero.us/swiper/dist/css/swiper.css">
	<link rel="stylesheet" href="/css/main.css" />
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">


	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon.ico">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta name="description" content="Welcome to the world of all things Slurpee from flavour updates to promotional news to the aggregation of Slurpers comments." />
	<meta name="keywords" content="7-Eleven, 7-11, Slurpee, official slurper, promotions, freebies, slurpee login, slurpee account, convenience store, flavours, elite official slurper, Brainfreeze, refreshment" />
	<meta property="og:title" content="Welcome to Slurpee">
	<meta property="og:url" content="/">
	<meta property="og:image" content="/img/01-full.png">

	<script src="https://www.google.com/jsapi"></script>

	<script type="text/javascript">Browser.getInstance().addClasses();</script>
	<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-18026883-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	</script>

			<!--[if lt IE 7]>
			<script type="text/javascript" src="/js/unitpngfix.js"></script>
			
			<script type="text/javascript">
				function createCookie(name,value,days) {
					if (days) {
						var date = new Date();
						date.setTime(date.getTime()+(days*24*60*60*1000));
						var expires = "; expires="+date.toGMTString();
					}
					else var expires = "";
					document.cookie = name+"="+value+expires+"; path=/";
				}
				
				function readCookie(name) {
					var nameEQ = name + "=";
					var ca = document.cookie.split(';');
					for(var i=0;i < ca.length;i++) {
						var c = ca[i];
						while (c.charAt(0)==' ') c = c.substring(1,c.length);
						if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
					}
					return null;
				}
				
				function eraseCookie(name) {
					createCookie(name,"",-1);
				}
				
				if (readCookie('shownIe6') != 'true') {
					createCookie('shownIe6', 'true', 0);
					alert("We're sorry, but your browser doesn't support our site. We recommend upgrading to a current version for the coolest slurpee.com.au experience. Otherwise the site will be straight-up weird looking. Happy Slurping!");
				}
			</script>
			
		<![endif]-->

</head>