
<div class="sm-only mx-auto bg-white">
      <img class="w-full" src="{{.image4}}"/>

<div class="w-full">
    <ul class="list-reset m-nav px-3">
        <li><a class="m-news " href="/news/" target="_self">NEWS NEWS NEWS</a></li>
        <li><a class="m-nut" href="/nutritional-info/" >NUTRITIONAL DETAILS</a></li>
        <li><a class="m-store" href="/storelocator/" target="_self" >STORE LOCATOR</a></li>
        <li><a class="m-talk" href="/contact/" target="_self">TALK TO US</a></li>
        <li><a class="m-fb" href="http://m.facebook.com/#!/SlurpeeAustralia" target="_blank">FACEBOOK</a></li>
        <li><a class="m-in" href="http://instagram.com/slurpeeaus" target="_blank">INSTAGRAM</a></li>
      </ul>
</div>

</div>