<!-- image grid -->
<div class="container mx-auto px-2">
		<div class="flex flex-wrap -mx-2">
			<div class="p-2 w-full sm:w-1/2 md:w-1/2 lg:w-1/2">
				<img src="{{ .image1.image }}" alt="{{ .image1.alt }}">
			</div>
			<div class="p-2 w-full sm:w-1/2 md:w-1/2 lg:w-1/2">
				<img src="{{ .image2.image }}" alt="{{ .image2.alt }}">
			</div>
		  </div>
		  <div class="flex flex-wrap -mx-2">
				<div class="p-2 w-full">
					<img src="{{ .image3.image }}" alt="{{ .image3.alt }}">
				</div>
			</div>
	</div>