<header class="bg-img h-screen text-white bg-scroll" style="background-image: url('{{.imageUrl}}')">

    <div class="container flex flex-col h-full mx-auto">
      <div class="flex-grow flex flex-col justify-center text-center">
          
        <div class="pb-5">
            <h1 class="inline-block text-5xl">{{.title}}</h1>
        </div>
        
  
        {{ if .subtitle }}
        <h1 class="text-2xl">
          {{.subtitle}}
        </h1>
        {{ end }}
          
          <footer class="sm:mt-4">
                <button type="button" class="scroll_down" id="scroll_down"></button>
            </footer>
      </div>
    </div>
  </header>
  
  