
<div id="nav" class="add-active ">
	<nav class="flex items-center justify-between flex-wrap bg-black p-6 fixed pin-t w-full z-100 trans lg:text-right text-center">
	<div class="flex items-center flex-no-shrink text-white mr-6">
		<a href="\" class="font-semibold lg:text-3xl tracking-wide text-green-lighter hover:text-white no-underline">
			S T U D I O:.
		</a>
	</div>
	<div class="block lg:hidden">
		<div class="menu-wrapper">
			<div class="hamburger-menu text-white"></div>	  
		</div>
	</div>
	<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto sm:h-fill toggle-hidden hidden pt-14 lg:pt-0">
	  <div class="lg:flex-grow ">
			<a href="\" class="block mt-4 lg:inline-block lg:mt-0 mt-12 text-teal-lighter hover:text-white lg:mr-8 no-underline">
				Home
			</a>
		<a href="/products" class="block mt-4 lg:inline-block lg:mt-0 mt-12 text-teal-lighter hover:text-white lg:mr-8 no-underline">
		  Products
		</a>
		<a href="/values" class="block mt-4 lg:inline-block lg:mt-0 mt-12 text-teal-lighter hover:text-white lg:mr-8 no-underline">
		 Values
		</a>
		<a href="/post" class="block mt-4 lg:inline-block lg:mt-0 mt-12 text-teal-lighter hover:text-white lg:mr-8 no-underline">
		  Post
		</a>
		<a href="/contact" class="block mt-4 lg:inline-block lg:mt-0 mt-12 text-teal-lighter hover:text-white lg:mr-8 no-underline lg:pb-0 pb-12">
			Contact
		</a>
	  </div>
	  <div>
	  </div>
	</div>
</nav>
</div>
