
<!-- newsletter form -->
<div class="flex flex-wrap">
    <div class="w-full md:w-1/2">
      <form action="">
          <fieldset name="newsletter" action="newsletter-subscribe">
            <input type="text" id="email" placeholder="Your email" 
            class="transition 
            focus:outline-0 
            focus:bg-grey
            focus:border-grey-light 
            placeholder-grey-darkest 
            bg-grey-darker 
            p-4 
            block w-full appearance-none ds-input">
          </fieldset>
                
        </form>
    </div>
    <div class="w-full md:w-1/5">
      <button class="
      w-full bg-blue hover:bg-blue-dark text-white font-bold 
      p-4
      " type="submit">Submit</button>
    </div>  
  </div>
  