

<div class="flex flex-wrap">
    <div class="w-full md:w-3/4">
      <form action="">
          <fieldset name="newsletter" action="newsletter-subscribe">
            <input type="text" id="email" placeholder="Your email" 
            class="transition focus:outline-0 border border-transparent focus:bg-white focus:border-grey-light placeholder-grey-darkest bg-grey-lighter py-2 pr-4 pl-10 block w-full appearance-none leading-normal ds-input">
            <label for="email">Your email</label>
          </fieldset>
                
        </form>
    </div>
    <div class="w-full md:w-1/4">
      <button class="w-full bg-blue hover:bg-blue-dark text-white font-bold py-3 px-4" type="submit">Submit</button>
    </div>  
  </div>
  