<!-- short text -->
<div class="bg-grey-lightest mb-10 lg:mt-0 mt-10">
  <div class="mx-auto container py-20">

        <div class="flex flex-wrap aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            <div class="lg:w-1/2">
              <h3 class="lg:text-5xl text-2xl lg:font-thin font-normal lg:pb-20">
                  {{.heading}}
              </h3>
          </div>
            <div class="lg:w-1/2">
              <p class="sm:mt-4 leading-normal pb-8 text-grey-darker">
                  {{.text}}
                </p>
            </div>
          </div>
    
    </div>
</div>
