<!-- short text -->
<div class="bg-grey-lightest mb-10">
  <div class="mx-auto container lg:py-20 py-10 px-5 lg:px-0">

        <div class="flex flex-wrap aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            <div class="lg:w-1/2">
              <h3 class="lg:text-5xl font-thin lg:pb-20 pb-5">
                  {{.heading}}
              </h3>
          </div>
            <div class="lg:w-1/2">
              <p class="sm:mt-4 leading-normal lg:pb-8 text-grey-darker">
                  {{.text}}
                </p>
            </div>
          </div>
    
    </div>
</div>
