<!-- table  -->

<div class="p-8">

  <div class="flex">
      <div class="pt-5">
          <p class="text-left text-xs text-black lg:pt-8">
              <small class="block tracking-wide text-grey-dark leading-loose">
                Slurpee Low Sugar  {{.heading}} contains:
              </small>
              {{.description}}
              <br><br>
            {{.subtext}}
            </p>
      </div>
      <div class="text-black">
          <div class="snap-photo-sm pl-3">
              <a class="no-underline text-left" href="">
                 <img class="{{.flav}}" src="/img/side-flavour-dispenser.png" style="width: 114px;"/>
                 <p class="text-grey-darkest uppercase text-xxs font-normal">{{.heading}}</p>
              </a>
            </div>
      </div>
  </div>
    

    <div class="bg-brown-light text-xs text-left p-4 -mt-3">
       <h4> NUTRITION INFORMATION</h4>
        AS DISPENSED
    </div>

    <div class="flex mb-10">
    {{ range .plans }}
    <div class="flex-1 border-r border-l border-b text-2xs text-grey-darker pb-2">
        {{ partial "table-column" . }}
    </div>
      {{ end }}

    </div>
  
</div>