<!-- text and image-->
<section class="bg-grey-lightest md:flex aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
        <div class="md:w-1/2">
          <img src="img/home-about-section.jpg" alt="" class="block">
        </div>
        <article class="p-8 max-w-sm md:flex md:flex-col md:justify-center lg:px-32 lg:max-w-md">
          <h2 class="leading-tight">
            <small class="block uppercase tracking-wide text-grey-dark text-sm leading-loose">Custom Dashboard</small>
            {{.heading}}
          </h2>
          <p class="mt-2 leading-normal pb-8 text-grey-darker">
			{{.text}}
		  </p>
		  <p class="pt-2"><a href="{{.buttonLink}}" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded no-underline">{{.buttonText}}</a></p>
        </article>
      </section>