.lg-only label {
  font-weight: normal !important;
}

.lg-only .cognito .c-forms-form-body {
  margin-bottom: 230px;
 }

.lg-only .c-forms-template {
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px
}

.lg-only .cognito .c-forms-form input[type=text], 
.cognito .c-forms-form input[type=password], 
.cognito .c-forms-form textarea, 
.cognito .c-forms-form select, 
.cognito .c-forms-form .c-signature .c-editor>div, .cognito.c-payment .c-payment-field,
.lg-only .cognito .c-forms-form textarea,
.lg-only .cognito .c-forms-form select {
  border: 1px solid #e0e0e0;
  background-color: #fbfbfb;
  padding: 10px 10px;
}


.lg-only.footerform {
    margin-top: -100px;
    background: black;
    padding: 30px 0;
    z-index: 99999;
    position: relative;
}


[data-field="Date"] label,
[data-field="Month"] label,
[data-field="Year"] label { 
  display: none;
}

[data-field="Date"],
[data-field="Month"],
[data-field="Year"] { 
  margin-top: -15px !important;
}


.lg-only .c-editor.c-html {
 margin-bottom: -50px;
}


.lg-only .cognito .c-forms-form button {
  background-image: url(/img/button-contactus-submit.gif);
  color: #643E19;
  display: block;
  height: 25px;
  overflow: hidden;
  text-indent: -999em;
  width: 128px;
  float: right;
  padding: 0;
  margin: 0 22px 0 330px;
}

.lg-only .cognito .c-forms-form button:hover { 
  background-position: 0 -25px;
}

.lg-only .form-img {
  position: relative;
  top: 150px;
  right: 45px;
}


.sm-only .cognito .c-forms-form-body {
  text-align: left;
  margin-bottom: 900px;
 }
 
 .sm-only.footerform {
   margin-top: -900px;
 }
 
 .sm-only .cognito .c-field.c-required .c-label:after, .cognito .c-rating-scale.c-required .c-choice-question:after {
   color: #fff !important;
 }
 .sm-only .cognito .c-forms-form input[type=text], .cognito .c-forms-form input[type=password], .cognito .c-forms-form textarea, .cognito .c-forms-form select {
   border: 1px solid #ababab !important;
 }
 
 .sm-only .cognito .c-forms-form button {
   background-image: url(/img/submit.gif);
   background-repeat: no-repeat;
   text-indent: -999px;
   border: none;
   cursor: pointer;
   float: left;
   margin-top: 20px;
   width: 245px;
   height: 67px;
 }

 .sm-only [data-field="TermsConditions"] input { 
  display: none;
}
.sm-only [data-field="TermsConditions"] span { 
  color: #ec008c;
  font-weight: bold;
  text-decoration: underline;
}
 
 
 