#storelocator {
	background-color: #e94091;
	padding-bottom: 1px;
}
#storelocator:after {
	display: block;
	content: ' ';
	font-size: 0;
	line-height: 0;
	clear: both;
}
#map {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 120%;
	background-color: white;
	display: block;
	float: left;
	clear: both;
}
p#address {
	margin: 0;
	padding: 0;
}
p#address p {
	background-color: #DDF2B2;
	padding: 10px;
	width: 560px;
	margin-bottom: 15px;
	font-size: 18px;
}
p.or {
	font-size: 0.875rem;
	margin-bottom: 15px;
}
input.button {
	display: block;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 0.5rem;
	border: none;
	background-color: #19bde1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border=radius: 10px;
	border-radius: 10px;
	-webkit-appearance: none;
	color: #fff;
	font-weight: bold;
	border: 1px solid #19bde1;
}
input#search {
	width: 35%;
	float: right;
	-webkit-border-radius: none;
	display: block;
}
input#search:active, input#btnLocation:active {
	background-position: bottom left;
}
input#btnLocation {
	width: 100%;
	margin-bottom: 15px;
}
input#addressInput {
	width: calc(65% - 15px);
	float: left;
}
input.button:active, input.active {
	background-color: #000;
}
input.text {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #edefee;
	-webkit-appearance: textarea;
	-webkit-border-radius: 0px;
	font-size: 1.125rem;
	line-height: 1.5rem;
	padding: 0.5rem;
}
input.text.valid {
	background-color: #CCFFCC;
	border: 1px solid #66CC00;
	color: #000;
}
#storelocator input.text {
	margin-bottom: 15px;
}
label {
	font-weight: bold;
}
label.checkbox-label {
	margin-bottom: 15px;
	display: block;
	padding-left: 1.5rem;
	position: relative;
}
textarea {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #edefee;
	-webkit-appearance: textarea;
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
	padding: 10px;
	margin-bottom: 15px;
}
#checkboxline {
	display: block;
	float: left;
	clear: both;
	margin-top: 8px;
	margin-bottom: 44px;
}
.accept_offer {
	margin-bottom: 31px !important;
}
.radio {
	padding: 10px;
	-webkit-border-radius: 10px;
	border: 0px none;
}
.checkbox {
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 2px;
	padding: 15px;
	font-size: 30px;
	border: 0px none;
	-webkit-border-radius: 10px;
}
label.checkbox-label .checkbox {
	position: absolute;
	left: 0;
}
#terms {
	font-size: 1rem;
}
#termslink {
	font-weight: bold;
}
.change-details {
	margin: 10px 0 10px 0;
}
#changedetails {
	margin-bottom: 12px;
	display: block;
}
.termstext {
	font-size: 0.75rem;
	margin: 0 15px 15px 15px !important;
}
#offers {
	font-size: 21px;
	position: relative;
	top: -3px;
	left: 10px;
}
#submit:active {
	background-position: bottom;
}
p#firsttime {
	padding-top: 20px;
	color: #19BDE1;
	font-weight: bold;
}
select {
	-webkit-appearance: menulist;
	box-sizing: border-box;
	-webkit-box-align: center;
	border: 1px solid;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	color: black;
	background-color: white;
	cursor: default;
	padding: 10px;
	font-size: 24px;
	margin-top: 15px;
}