.swiper-container {
    width: 100%;
    height: auto;
  }

  .swiper-nav a {
    color: #5D472E;
    font-weight: bold;
  }
  .swiper-next,
  .swiper-prev {
    padding: 0 5px;
    font-size: 22px;
    color: #5D472E;
  }
  
  .swiper-nav a.active {
    color: #9D362E;
  }
  a:focus {
    outline: transparent;
  }