{{ define "main" }}


<div class="mx-auto">

 <a href="\"> <img class="w-full pb-3" src="/img/nut-header-m.jpg" ></a>


  {{ range .Params.flavs1a }}
    {{ partial "nutritional-info" . }}
  {{ end }}

  {{ range .Params.flavs1b }}
    {{ partial "nutritional-info" . }}
  {{ end }}

  {{ range .Params.flavs2a }}
    {{ partial "nutritional-info" . }}
  {{ end }}

  {{ range .Params.flavs2b }}
    {{ partial "nutritional-info" . }}
  {{ end }}

  {{ range .Params.flavs3a }}
    {{ partial "nutritional-info" . }}
  {{ end }}

  {{ range .Params.flavs3b }}
    {{ partial "nutritional-info" . }}
  {{ end }}

 </div>

 


{{ end }}
