{{ define "main" }}


<div class="container-narrow mx-auto px-5 pt-5 pb-32 bg-white text-left text-grey-mid leading-normal text-xs">
  
  <img class="pb-5" src="/img/privacy-policy-hd.png" />
        <h3 class="pb-2 pt-4 text-lg">7-Eleven’s commitment</h3>
       
        <p> 7-Eleven Stores Pty Ltd ("<strong>We</strong>") are sensitive to  privacy issues and fully committed to complying with our obligations  under the Privacy Act. &nbsp;We operate this Site and conduct our business in  accordance with the Australian Privacy Principles.</p>
        
        <h3 class="pb-2 pt-4 text-lg">What information We collect</h3>
       
        <p> In general you may visit the Site without disclosing who you are or  revealing any personally identifiable information. &nbsp;Our servers collect  the domain names and operating system in use. &nbsp;Email addresses and other  personally identifiable information such as name, address, telephone  number become known only when voluntarily provided by you as a visitor  to the Site for a particular purpose eg. –</p>
        <ul>
          <li> registering for participation in a competition;</li>
          <li> making a franchise or other specific enquiry necessitating a response; or</li>
          <li> participating in any available online interactive activity.</li>
        </ul>
        
        <h3 class="pb-2 pt-4 text-lg">How We use information</h3>
        
        <p> Information concerning the domain names and operating systems in use is  accessed for the purpose of measuring the use of our Site and to  improve its content. &nbsp;Unless otherwise disclosed during the collection  process, personally identifiable information which may be collected from  visitors to this Site is retained by us but is not (and will not) be  onsold to third parties. &nbsp;If you make a request in relation to a product  or service provided by one of our suppliers it may be necessary to  disclose this personal information to that entity to ensure that your  request is satisfied or any issue raised is resolved. &nbsp;We will not  otherwise disclose this personal information except when required to do  so by law. &nbsp; We may, however, use the personal information you provide  for any of the following purposes:-</p>
        <ul>
          <li> to understand the use of our Site and to make improvements;</li>
          <li> to respond to particular requests from visitors;</li>
          <li> in general to promote and market to you our various businesses and  products and those of our trading partners. &nbsp;You have a choice as to how  We can communicate with you for marketing purposes. &nbsp;If you do not wish  to receive marketing communications from us, you may opt out of  receiving them by forwarding an email to <a class="text-red-darker" href="mailto:privacy@7eleven.com.au">privacy@7eleven.com.au</a> Additionally, any email promotion message which We send to you will also contain instructions on how to unsubscribe</li>
        </ul>
        
        <h3 class="pb-2 pt-4 text-lg">Access to personal information and correction of it</h3>
        
        <p> We are concerned to ensure that any information We obtain and use is  accurate in all respects. &nbsp;You can request access to your personal  information or advise us of any required correction and information  which you believe to be inaccurate by forwarding a request to <a class="text-red-darker" href="mailto:privacy@7eleven.com.au">privacy@7eleven.com.au</a></p>
        
        <p> Although We are committed to ensuring that at all times there is strict  adherence to the Australian Privacy Principles, in the event that you  are dissatisfied in any way with the collection or use of your personal  information or believe that there has been a breach of the Australian  Privacy Principles We invite you to contact us as soon as possible. We  have appointed an internal Privacy Complaints Manager (who is also our  Privacy Officer) to whom your complaint or any queries may be directed  by e-mail at <a class="text-red-darker" href="mailto:privacy@7eleven.com.au">privacy@7eleven.com.au</a></p>
       
        <p> Alternatively you can write to "<em>Privacy Complaints Manager, 7-Eleven Stores Pty Ltd, 357 Ferntree Gully Road, Mount Waverley, 3149"</em>.  &nbsp;If you are not satisfied with the manner in which We deal with your  complaint you may refer it to the office of the Australian Information  Commissioner ("<strong>OAIC</strong>"). &nbsp;You can contact OAIC by:-</p>
        <ul>
          <li> visiting <a class="text-red-darker" href="http://www.oaic.gov.au">www.oaic.gov.au</a>;</li>
          <li> forwarding an email to <a class="text-red-darker" href="mailto:enquiries@oaic.gov.au">enquiries@oaic.gov.au</a></li>
          <li> telephoning 1300 363 992; or</li>
          <li> writing to OAIC at GPO Box 5218, Sydney &nbsp;NSW &nbsp;2001</li>
        </ul>
        
        <h3 class="pb-2 pt-4 text-lg">Disclosing your information overseas</h3>
        
        <p> We do not presently send any personal information that we collect to  overseas entities. If there is any alteration to that position at any  future time, particulars will be provided in an update to this Policy.</p>
        
        <h3 class="pb-2 pt-4 text-lg">Other Sites</h3>
        
        <p> This Site may contain links to the sites of third parties. &nbsp;We are not  responsible for the content or information or practices adopted by other  websites which you may access from, or may be linked to, this Site.  &nbsp;Where a link is available it is provided merely as a guide to  information on other services or products which may be useful to you.  &nbsp;Those sites are subject to their own privacy protocols and you should  carefully review the privacy statement of any such site before providing  personal information.</p>
        
        <h3 class="pb-2 pt-4 text-lg">Revision in policy</h3>
        
        <p> With a view to improving our service to you and ensuring the highest  level of compliance with the Australian Privacy Principles we may revise  this Privacy Policy from time to time. &nbsp;It is your responsibility to  check when you visit our Site to ensure that you are aware of the  content of the then applicable current policy. &nbsp;If you have any queries  concerning this Privacy Policy please contact our Privacy Officer at the  email or mail address provided above.</p>


</div>

{{ end }}
