{{ define "main" }}

{{ partial "blog" . }}


{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="container mx-auto">
  <div class="leading-normal pb-8 text-grey-darker">
    <h2 class="pt-32 pb-5 font-normal">{{ .heading }}</h2>
    <p>{{ .description }}</p>
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}

<div class="my-32 ">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>


<!-- Full-width image -->
<div class="container mx-auto">
  <div class="w-full text-center mb-20" data-aos="fade-up">
      <img src="{{ .Params.full_image }}" alt="" class="w-2/1">
  </div>
  </div>




{{ partial "table" .Params.pricing }}

{{ end }}
