/* Modules */
@import './imports/_stores';
@import './imports/_flavour';
@import './imports/_swipper';

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  text-align: center;
}

@media (max-width: 576px) { 
  .lg-only {
    display: none;
  }
  .sm-only {
    display: block;
  }
  .sm\:bg-light {
    background-color: white;
  }
  .sm\:bg-blackest {
    background-color: black;
  }
}


@media (min-width: 576px) {
  .lg\:text-9xl {
    font-size: 5rem;
  }
  .lg\:h-70 {
    height: 22rem;
  }
  .lg\:bg-blackest {
    background-color: black;
  }
  .text-xxs {
    font-size: 11px;
  }
  .text-2xs {
    font-size: 12px;
  }
  .sm-only {
    display: none;
  }
}


.bg-brown-light {
  background-color: #A19F9F;
}

.text-grey-mid {
  color: #555555;
}
.text-dark {
  color: #444 !important;
}

button:focus {
  outline: none;
}

.animate-add.active {
  padding: 0;
}

.z-100 {
  z-index: 100 !important;
}

.hide {
  display: none;
}

[class^="trans-"] .trans, [class*=" trans-"] .trans {
  transition: all;
}

.trans {
  transition: all 0.5s ease;
}

.trans-slow {
  transition-duration: 1s;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (max-width: 576px) {
  .sm\:hide {
    display: none;
  }
  .sm\:show {
    display: block;
  }
  .sm\:h-fill {
    height: -webkit-fill-available;
  }
}


.bg-g-blue {
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.bg-g-purple {
  background-color: #9e21ff;
  background-image: linear-gradient(141deg, #ed21ff 0%, #9e21ff 51%, #9e21ff 75%);
}

.bg-img-parallax {
  background-image: url("https://images.unsplash.com/photo-1534190760961-74e8c1c5c3da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  height: 40vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-grayscale {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
}




.display-table {
  display: table;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}




.container-narrow {
  width: 100%;
}

@media (min-width: 576px) {
  .container-narrow {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container-narrow {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container-narrow {
    max-width: 855px;
  }
}

@media (min-width: 1200px) {
  .container-narrow {
    max-width: 855px;
  }
}

  .social-icon {
    width: 50px;
  }


.snap-photo {
  background: url(../img/side-flavour-flavours-bg.png) no-repeat scroll 0 0 transparent;
  float: left;
  height: 191px;
  width: 168px;
  padding-top: 12px;
}
.snap-photo-sm {
  background: url(../img/side-flavour-flavours-bg.png) no-repeat scroll 0 0 transparent;
  background-size: cover;
  float: left;
  height: 165px;
  width: 136px;
  padding-top: 12px;
  margin: 1px;
}
.snap-photo-sm img {
  width: 120px;
 }
.snap-photo-lg {
  background: url(../img/flavour-hero-bg-lg.png) no-repeat scroll 0 0 transparent;
  background-size: cover;
  height: 338px;
  margin-right: -8px;
  width: 278px;
  margin-top: -40px;
  padding-top: 25px;
}

.facebook-box:before {
  display: block;
  content: ' ';
  float: right;
  position: relative;
  left: 14px;
  top: 9px;
  width: 35px;
  height: 47px;
  background: url(/img/flag-fb.png) no-repeat 0 0;
}

.facebook-box_links {
  position: relative;
  left: 125px;
  top: 19px;
}

.youtube-box:before {
  display: block;
  content: ' ';
  float: right;
  position: relative;
  left: 14px;
  top: 9px;
  width: 35px;
  height: 47px;
  background: url(/img/flag-yt.png) no-repeat 0 0;
}
.youtube-box_links {
  position: relative;
  left: 205px;
  top: 19px;
}

.fb-msg {
  background: url(/img/sprite-social-btn.png) no-repeat scroll 0 0 transparent;
  float: left;
  height: 24px;
  overflow: hidden;
  text-indent: -999em;
  width: 24px;
}
.fb-go {
  background: url(/img/sprite-social-btn.png) no-repeat scroll 0 0 transparent;
  background-position: -27px 0;
  float: left;
  height: 24px;
  overflow: hidden;
  text-indent: -999em;
  width: 24px;
}

.snap-photo-yt {
  background: url(/img/web-slurps-youtube-bg.png) no-repeat scroll 0 0 transparent;
  color: #666666;
  display: block;
  float: left;
  height: 143px;
  margin: 0 4px 10px 0;
  text-decoration: none;
  width: 138px;
}

.view-more-news a {
  background: url(/img/news-view-more.png) no-repeat scroll 0 0 transparent;
  color: #A3312C;
  display: inline-block;
  height: 26px;
  overflow: hidden;
  text-indent: -9999em;
  color: transparent;
  width: 155px;
}
.view-more-news a:hover {
  background-position: 0 -26px;
}


.link-back-news {
  display: block;
  width: 128px;
  height: 25px;
  background: url(/img/button-news-back.gif) no-repeat left top;
  color: transparent;
  font-size: 0;
  text-indent: -9999em;
}

.link-back-news:hover {
  background-position: left bottom;
}

.fancybox-button.fancybox-button--close{
  background: url("/img/close.png") no-repeat scroll 0 0 transparent;
  height: 39px;
  position: absolute;
  width: 37px;
}

.fancybox-content {
    background: url(/img/flavours-flavour-bg.jpg) no-repeat scroll 0 0 transparent !important;
    padding: 0 !important;
    width: 600px !important;
    height: 615px !important;
  }



.m-nav a {
  width: 100%;
  height: 0;
  padding-bottom: 15%;
  display: block;
  text-indent: -9999px;
  background-color: transparent;
  background-size: 100% auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: 13px 0;
}
.m-news { background-image: url(/img/sprite-nav-news.gif); }
.m-nut { background-image: url(/img/sprite-nav-nutritions.gif); }
.m-store { background-image: url(/img/sprite-nav-store.gif); }
.m-talk { background-image: url(/img/sprite-nav-talk.gif); }
.m-fb { background-image: url(/img/sprite-nav-facebook.gif); }
.m-in { background-image: url(/img/sprite-nav-instagram.gif); } 


.icon-end {
  font-size: 91px!important;
  position: absolute;
  right: -43px;
  margin-top: -71px;
}









